:host {
    background-color: #c3c3b9;
}

a {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fb7211;
    font-weight: 800;
}

a:hover {
    background-color: #676763;
    color: white;
}